<div class='container'>
<h1>Fax-Bericht</h1>
<p>Erstellt: <%= Time.zone.now %></p>

<table>
  <tr>
    <th>Druckauftrag</th>
    <th>Empfänger</th>
    <th>Erstellt</th>
    <th>Status</th>
  </tr>
  <% @print_jobs.each do |print_job| %>
    <%= content_tag_for(:tr, print_job, class: print_job.status) do %>
      <%= content_tag(:td, print_job.title, class: 'title') %>
      <%= content_tag(:td, print_job.fax_number, class: 'fax_number') %>
      <%= content_tag(:td, print_job.created_at.to_date, class: 'created_at') %>
      <%= content_tag(:td, print_job.status, class: 'status') %>
    <% end %>
  <% end %>
</table>
</div>
