<ul class='nav nav-tabs'>
  <%= content_tag(:li, link_to('Aktive Druckauftr채ge', print_jobs_path), class: ('active' if action_name == 'index')) %>
  <%= content_tag(:li, link_to('Abgebrochene Druckauftr채ge', aborted_print_jobs_path), class: ('active' if action_name == 'aborted')) %>
  <%= content_tag(:li, link_to('Suche', search_print_jobs_path), class: ('active' if action_name == 'search')) %>
</ul>

<p>
Suche nach Geburtsdatum der Patientin (TT.MM.JJJJ), Name(n) oder Fax-Nummer des
Empf채ngers (min. 4 Ziffern) in beliebiger Kombination.
</p>

<%= form_tag(search_print_jobs_path, method: :get) do %>
  <%= label_tag(:title, 'Suche:') %>
  <%= text_field_tag(:title, params[:title]) %>
  <%= submit_tag('Los gehts!', name: nil) %>
<% end %>

<table>
  <tr>
    <th>Druckauftrag</th>
    <th>Empf채nger</th>
    <th>Erstellt</th>
    <th>Status</th>
  </tr>
  <% @print_jobs.each do |print_job| %>
    <%= content_tag_for(:tr, print_job, class: print_job.status) do %>
      <%= content_tag(:td, class: 'title') do %>
        <%= link_to(print_job.title, print_job, target: '_blank') %>
      <% end %>
      <%= content_tag(:td, print_job.phone, class: 'phone') %>
      <%= content_tag(:td, print_job.created_at, class: 'created_at') %>
      <%= content_tag(:td, print_job.status, class: 'status') %>
    <% end %>
  <% end %>
</table>
