<p>
  <strong>Title:</strong>
  <%= @template.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @template.subtitle %>
</p>

<p>
  <strong>Short title:</strong>
  <%= @template.short_title %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @template.slogan %>
</p>

<p>
  <strong>Return Address:</strong>
  <%= @template.return_address %>
</p>

<p>
  <strong>Contact Infos:</strong>
  <%= @template.contact_infos %>
</p>

<p>
  <strong>Owners:</strong>
  <%= @template.owners %>
</p>
