<p>
  <strong>Title:</strong>
  <%= @template.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @template.subtitle %>
</p>

<p>
  <strong>Short title:</strong>
  <%= @template.short_title %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @template.slogan %>
</p>

<p>
  <strong>Address:</strong>
  <%= @template.address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @template.zip %>
</p>

<p>
  <strong>City:</strong>
  <%= @template.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @template.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @template.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @template.email %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @template.homepage %>
</p>

<p>
  <strong>Owners:</strong>
  <%= @template.owners %>
</p>
