<h1>Fax-Bericht</h1>
<p>Erstellt: <%= Time.zone.now %></p>

<table>
  <tr>
    <th>Fax</th>
    <th>Empfänger</th>
    <th>Erstellt</th>
    <th>Status</th>
    <th>Zustellversuche</th>
  </tr>
  <% @faxes.each do |fax| %>
    <%= content_tag_for(:tr, fax, class: fax.state) do %>
      <%= content_tag(:td, class: 'title') do %>
        <%= link_to(fax.title, fax, target: '_blank') %>
      <% end %>
      <%= content_tag(:td, fax.phone, class: 'phone') %>
      <%= content_tag(:td, fax.created_at, class: 'created_at') %>
      <%= content_tag(:td, fax.state, class: 'state') %>
      <%= content_tag(:td, fax.delivery_attempts) %>
    <% end %>
  <% end %>
</table>
