<table class='table table-hover'>
  <tr>
    <th>Fax</th>
    <th>Empfänger</th>
    <th>Aktualisiert</th>
    <th>Status</th>
  </tr>
  <% @faxes.each do |fax| %>
    <%= content_tag_for(:tr, fax, class: fax.state) do %>
      <%= content_tag(:td, class: 'title') do %>
        <%= link_to(fax.title, fax, target: '_blank') %>
      <% end %>
      <%= content_tag(:td, fax.phone, class: 'phone') %>
      <%= content_tag(:td, fax.updated_at, class: 'updated_at') %>
      <%= content_tag(:td, fax.state, class: 'state') %>
    <% end %>
  <% end %>
</table>
