<ul class='nav nav-tabs'>
  <%= content_tag(:li, link_to('Heute', faxes_path), class: ('active' if action_name == 'index')) %>
  <%= content_tag(:li, link_to('Unzustellbar', undeliverable_faxes_path), class: ('active' if action_name == 'undeliverable')) %>
  <%= content_tag(:li, link_to('Suche', search_faxes_path), class: ('active' if action_name == 'search')) %>
</ul>

<table>
  <tr>
    <th>Fax</th>
    <th>Empfänger</th>
    <th>Erstellt</th>
    <th>Status</th>
    <th>Zustellversuche</th>
  </tr>
  <% @faxes.each do |fax| %>
    <%= content_tag_for(:tr, fax, class: fax.state) do %>
      <%= content_tag(:td, class: 'title') do %>
        <%= link_to(fax.title, fax, target: '_blank') %>
      <% end %>
      <%= content_tag(:td, fax.phone, class: 'phone') %>
      <%= content_tag(:td, fax.created_at, class: 'created_at') %>
      <%= content_tag(:td, fax.state, class: 'state') %>
      <%= content_tag(:td, class: 'delivery_attempts') do %>
        <%= content_tag(:span, fax.delivery_attempts, class: 'badge') %>
      <% end %>
    <% end %>
  <% end %>
</table>
