<ul class='nav nav-tabs'>
  <%= content_tag(:li, link_to('Faxe in Versendung', faxes_path), class: ('active' if action_name == 'index')) %>
  <%= content_tag(:li, class: ('active' if action_name == 'aborted')) do %>
    <%= link_to(aborted_faxes_path) do %>
      <%= content_tag(:span, 'Abgebrochene Faxe') %>
      <%= content_tag(:span, aborted_faxes_count, class: 'badge') %>
    <% end %>
  <% end %>
  <%= content_tag(:li, link_to('Suche', search_faxes_path), class: ('active' if action_name == 'search')) %>
</ul>

<table>
  <tr>
    <th>Fax</th>
    <th>Empfänger</th>
    <th>Erstellt</th>
    <th>Status</th>
  </tr>
  <% @faxes.each do |fax| %>
    <%= content_tag_for(:tr, fax, class: fax.status) do %>
      <%= content_tag(:td, class: 'title') do %>
        <%= link_to(fax.title, fax, target: '_blank') %>
      <% end %>
      <%= content_tag(:td, fax.phone, class: 'phone') %>
      <%= content_tag(:td, fax.created_at, class: 'created_at') %>
      <%= content_tag(:td, fax.status, class: 'status') %>
      <% if fax.aborted? %>
        <td>
          <%= link_to 'Noch mal senden...', deliver_fax_path(fax), method: :patch, class: 'btn btn-primary btn-xs' %>
          <%= link_to 'löschen', fax_path(fax), method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Wirklich löschen?' } %>
        </td>
      <% end %>
    <% end %>
  <% end %>
</table>
