<ul class='nav nav-tabs'>
  <%= content_tag(:li, link_to('Heute ', faxes_path), class: ('active' if action_name == 'index')) %>
  <%= content_tag(:li, link_to('Unzustellbar', aborted_faxes_path), class: ('active' if action_name == 'aborted')) %>
  <%= content_tag(:li, link_to('Suche', search_faxes_path), class: ('active' if action_name == 'search')) %>
</ul>

<p>
Suche nach Geburtsdatum der Patientin (TT.MM.JJJJ), Name(n) oder Fax-Nummer des
Empfängers (min. 4 Ziffern) in beliebiger Kombination.
</p>

<%= form_tag(search_faxes_path, method: :get) do %>
  <%= label_tag(:q, 'Suche:') %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag('Los gehts!') %>
<% end %>

<table>
  <tr>
    <th>Fax</th>
    <th>Empfänger</th>
    <th>Erstellt</th>
    <th>Status</th>
  </tr>
  <% @faxes.each do |fax| %>
    <%= content_tag_for(:tr, fax, class: fax.status) do %>
      <%= content_tag(:td, class: 'title') do %>
        <%= link_to(fax.title, fax, target: '_blank') %>
      <% end %>
      <%= content_tag(:td, fax.phone, class: 'phone') %>
      <%= content_tag(:td, fax.created_at, class: 'created_at') %>
      <%= content_tag(:td, fax.status, class: 'status') %>
    <% end %>
  <% end %>
</table>
