<div class="row">
  <div class="col-md-12">
    <h1>
      Dokument: <%= @document.title %>
      <% if @document.delivered? %>
        <span class="label label-success">gesendet</span>
      <% end %>
    </h1>

    <%= link_to 'Zum Bericht', @document.report if @document.report %>

    <%= render @document.recipient %>


    <div class="btn-group">
      <%= link_to 'Herunterladen', download_document_path(@document), class: 'btn btn-default' %>
      <% if @document.released_for_delivery? %>
        <% if @document.recipient_fax_number? & fax_printer = FaxPrinter.default %>
          <%= button_to 'Faxen', prints_path, method: :post,
            params: { 'print[printer_id]' => fax_printer.id, 'print[document_id]' => @document.id },
            class: 'btn btn-primary' %>
        <% end %>
        <% if paper_printer = PaperPrinter.default %>
          <%= button_to 'Drucken', prints_path, method: :post,
            params: { 'print[printer_id]' => paper_printer.id, 'print[document_id]' => @document.id },
            class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <% if @document.prints.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <%= Print.model_name.human(count: @document.prints.count) %>
          </div>
        </div>
        <table class="table">
          <tr>
            <th>
              <%= Print.human_attribute_name(:created_at) %>
            </th>
            <th>
              <%= Printer.model_name.human %>
            </th>
            <th>
              <%= Print.human_attribute_name(:fax_number) %>
            </th>
            <th>
              <%= Print.human_attribute_name(:status) %>
            </th>
          </tr>
          <% @document.prints.order(:created_at).each do |print| %>
            <tr class="<%= print_status_class(print) %>">
              <td>
                <%= l print.created_at %>
              </td>
              <td>
                <%= print.printer.name %>
              </td>
              <td>
                <%= print.fax_number %>
              </td>
              <td>
                <%= t print.status, scope: 'activerecord.attributes.print.statuses' %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    <% else %>
      <p class="lead">
        Hoppla, zu diesem Dokument gibt es noch keine Druckaufträge.
      </p>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= render 'exports/panel' %>
  </div>
</div>
