<%= form_for(@printing, html: { class: 'form-group'}) do |f| %>
  <% if @printing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@printing.errors.count, "error") %> prohibited this printing from being saved:</h2>

      <ul>
      <% @printing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :printer, class: 'control-label' %>
    <%= f.collection_select(:printer_id, Printer.all, :id, :label, class: 'form-control') %>
  </div>

  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
