<ul id="reports_nav" class="nav nav-tabs">
  <li role="presentation" class=<%= 'active' if params[:filter].blank? %>>
    <%= link_to 'Unvidiert', reports_path %>
  </li>
  <li role="presentation" class=<%= 'active' if params[:filter] == 'today' %>>
    <%= link_to 'Heute', reports_path(filter: 'today') %>
  </li>
  <li role="presentation" class=<%= 'active' if params[:filter] == 'unreleased' %>>
    <%= link_to 'Unveröffentlicht', reports_path(filter: 'unreleased') %>
  </li>
</ul>

<div class="list-group">
  <% @reports.each do |report| %>
    <%= link_to report, class: 'list-group-item' do %>
      <p class="list-group-item-heading">
        <strong>
          <%= report.title %>
        </strong>
      </p>
      <p class="list-group-item-text">
        <%= report.subject %>
      </p>
    <% end %>
  <% end %>
</div>
