<ul id="reports_nav" class="nav nav-tabs">
  <li role="presentation" class=<%= 'active' if params[:pending] != 'false' %>>
    <%= link_to 'Unvidiert', reports_path %>
  </li>
  <li role="presentation" class=<%= 'active' if params[:pending] == 'false' %>>
    <%= link_to 'Vidiert', reports_path(pending: false) %>
  </li>
</ul>

<div class="list-group">
  <% @reports.each do |report| %>
    <%= link_to report, class: 'list-group-item' do %>
      <p class="list-group-item-heading">
        <strong>
          <%= report.title %>
        </strong>
      </p>
      <p class="list-group-item-text">
        <%= report.subject %>
      </p>
    <% end %>
  <% end %>
</div>
