<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <%= link_to 'Öffnen', download_document_path(@report.document), class: 'btn btn-default' if @report.document %>
      <% if @report.verified? %>
        <%= link_to 'Senden', document_path(@report.document), class:
          (@report.to_deliver? ? 'btn btn-primary' : 'btn btn-default') %>
      <% end %>
    </div>

    <% if @report.user == current_user %>
      <div class="btn-group pull-right">
        <% if @report.pending? %>
            <%= button_to 'Vidieren', verify_report_path(@report), method: :patch, class: 'btn btn-primary' %>
            <%= button_to 'Löschen', report_path(@report), method: :delete, class: 'btn btn-danger', data: { confirm: 'Arztbrief wirklich löschen?' } %>
        <% elsif @report.verified? %>
          <%= button_to 'Stornieren', report_path(@report), method: :patch, params: { status: :canceled }, class: 'btn btn-danger', data: { confirm: 'Arztbrief wirklich stornieren?' } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <% p = @report.patient %>
      <h1>
        <%= "#{p.last_name}, #{p.first_name} (* #{p.date_of_birth.strftime('%d.%m.%Y')})" %><br>
      </h1>
      <h2>
        Überweiser
      </h2>
      <%= render @report.recipient %>
      <h2>
        <%= @report.subject %>
      </h2>
      <div class="label-group">
        <% if @report.verified? %>
          <span class="label label-info">
            Vidiert
          </span>
        <% elsif @report.canceled? %>
          <span class="label label-danger">
            Storniert
          </span>
        <% end %>
        <% @report.print_jobs.each do |print_job| %>
          <% if print_job.active? %>
            <span class="label label-default">
              Druckauftrag aktiv
            </span>
          <% elsif print_job.completed? %>
            <span class="label label-success">
              Druckauftrag abgeschlossen
            </span>
          <% elsif print_job.aborted? %>
            <span class="label label-warning">
              Druckauftrag abgebrochen
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% %i(anamnesis procedure clinic findings evaluation).each do |method| %>
  <% if @report.send(method).present? %>
    <div class="row">
      <div class="col-md-2">
        <p class="strong">
          <%= @report.class.human_attribute_name(method) %>
        </p>
      </div>
      <div class="col-md-10">
        <p>
          <%= @report.send(method) %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>

<%# link_to 'Edit', edit_report_path(@report) %> 
<%# link_to 'Back', reports_path %>
