<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        <%= @report.patient %>
      </h1>
      <h2>
        <%= @report.subject %>
      </h2>
      <div class="label-group">
        <% if @report.verified? %>
          <span class="label label-info">
            Vidiert
          </span>
        <% elsif @report.canceled? %>
          <span class="label label-danger">
            Storniert
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @report.user == current_user %>
      <div class="btn-group">
        <% if @report.pending? %>
            <%= button_to 'Vidieren', verify_report_path(@report), method: :patch, class: 'btn btn-primary' %>
            <%= button_to 'Löschen', report_path(@report), method: :delete, class: 'btn btn-danger', data: { confirm: 'Arztbrief wirklich löschen?' } %>
        <% elsif @report.verified? %>
          <%= button_to 'Stornieren', cancel_report_path(@report), method: :patch, class: 'btn btn-danger', data: { confirm: 'Arztbrief wirklich stornieren?' } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h3>
      <%= @report.subject %>
    </h3>
    <% %i(anamnesis procedure clinic findings evaluation).each do |method| %>
      <% if @report.send(method).present? %>
        <h4>
          <%= @report.class.human_attribute_name(method) %>
        </h4>
        <p>
          <%= @report.send(method) %>
        </p>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h3>
      <%= Document.model_name.human %>
    </h3>
    <ul class="list-group">
      <% @report.documents.each do |document| %>
        <li class="list-group-item">
          <%= link_to 'Öffnen', download_document_path(document) %> |
          <%= link_to 'Details', document_path(document) %>
          <% if document.delivered? %>
            <span class="label label-success">gesendet</span>
          <% end %>
          <%= render document.recipient %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
