<p id="notice"><%= notice %></p>

<% p = @report.patient %>
<h1>
<%= "#{p.last_name}, #{p.first_name} (* #{p.date_of_birth.strftime('%d.%m.%Y')})" %>
</h1>

<h2>
  <%= @report.subject %>
</h2>

<% %i(anamnesis diagnosis findings evaluation procedure clinic).each do |method| %>
  <% if @report.send(method).present? %>
    <h3>
      <%= @report.class.human_attribute_name(method) %>
    </h3>
    <p>
      <%= @report.send(method) %>
    </p>
  <% end %>
<% end %>

<h3>Status</h3>
<p>
  <%= @report.status %>
</p>

<%= link_to 'Druckvorschau', report_path(@report, format: :pdf), class: 'btn btn-default' %>
<%= link_to 'freigeben', verify_report_path(@report), method: :put, class: 'btn btn-primary' if @report.pending? %>

<%# link_to 'Edit', edit_report_path(@report) %> 
<%# link_to 'Back', reports_path %>
